*{
  margin: 0;
  padding: 0;
}

body{
  display: flex;
  align-items: center;
}

.inner-container{
  height: 100dvh;
  width: 40%;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
}

.dark-container{
  background: #0D0231;
  width: 100%;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.light-container{
  background: #DAD7E0;
  width: 100%;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.togglebtn{
  height: 15%;
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: end;
  border: 1px solid greenyellow;
}

.tbutton-dark{
  background: #221745;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tbutton-light{
  background: #6236F5;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}


@media only screen and (max-device-width: 480px){
  .inner-container{
    height: 100dvh;
    width: 100%;
    border: 1px solid red;
  }

  .togglebtn{
    height: 10%;
    width: 95%;
  }
}